<section>
   <h2>Entre como participante</h2>

   <form>
      <label class="sr-only" for="room-id">Código da sala</label>
      <input type="number" id="room-id" placeholder="Código da Sala">
      <button type="submit">
         <img src="/images/login-icon.svg" alt="Entrar">
         Entrar na sala
      </button>
   </form>
</section>

<div class="separator">
   <div class="line"></div>
   <div>ou</div>
   <div class="line"></div>
</div>

<section>
   <h2>Crie sua própria sala de forma fácil</h2>

   <a href="/create-pass" class="button outlined">
      <img src="/images/users-icon.svg" alt="Usuários">
      Criar sala
   </a>
</section>