#room.content {
   max-width: min(102rem, 90%);
   margin: 0 auto;
}

#room.content header {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#room.content header .buttons {
   display: flex;
   align-items: center;
   gap: .8rem;
}

#room.content header .buttons .button {
   justify-content: space-between;
   padding: 0 1.6rem;
}

#question-form {
   margin-bottom: 1.6rem;
}

#question-form h2 {
   font-family: 'Poppins', sans-serif;
   font-size: 2.8rem;
   color: var(--black);
   font-weight: 700;
   margin-bottom: 2.4rem;
   line-height: 4.2rem;
}

#question-form form {
   padding: 1.6rem;
   border: .2rem solid var(--gray-blue);
   border-radius: 0px .8rem .8rem .8rem;
   width: 100%;
}

#question-form form footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#question-form form textarea {
   background-color: transparent;
   outline: none;
   min-width: 100%;
   resize: none;
   font-family: 'Open Sans', sans-serif;
   font-weight: normal;
   font-size: 1.6rem;
   line-height: 2.6rem;
   color: var(--gray-blue);
}

#question-form form textarea::placeholder {
   font-family: 'Open Sans', sans-serif;
   font-weight: normal;
   font-size: 1.6rem;
   line-height: 2.6rem;
   color: var(--gray-blue);
}

#question-form form footer div {
   display: flex;
   align-items: center;
   gap: .6rem;
   color: var(--icons-details);
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 2.2rem;
}

#question-form form footer .button {
   padding: .8rem 2.4rem;
}

/* #questions {

} */

.question-wrapper {
   background-color: var(--blue-light);
   padding: 2.4rem 3.2rem;
   border-radius: .8rem;
   display: flex;
   flex-direction: column;
   margin-bottom: .8rem;
}

.question-wrapper .user {
   background-color: var(--blue);
   width: 5.2rem;
   min-width: 5.2rem;
   height: 5.2rem;
   min-height: 5.2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 1.6rem;
   border-radius: 5.2rem;
}

.question-wrapper.read .user {
   background-color: var(--gray-blue);
}

.question-wrapper .question-content {
   display: flex;
   align-items: center;
}

.question-wrapper .question-content .question p {
   color: var(--black);
   font-family: 'Open Sans';
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 2.2rem;
   word-break: break-word;
}

.question-wrapper .actions {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 2.4rem;
   margin-top: 1.6rem;
}

.question-wrapper .action-read-question {
   display: none;
}

.question-wrapper.read .action-read-question,
.question-wrapper .actions a {
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--gray-dark);
   font-family: 'Open Sans', sans-serif;
   font-weight: 500;
   font-size: 1.6rem;
   line-height: 2.2rem;
   gap: .8rem;
   transition: all .2s ease;
}

.question-wrapper .actions a:hover {
   color: var(--hover-gray);
}

.question-wrapper.read {
   background-color: var(--gray-medium);
}

.question-wrapper.read .actions a {
   display: none;
}

.no-questions {
   text-align: center;
   max-width: 28.7rem;
   margin: 0 auto;
   margin-top: 5.2rem;
}

.no-questions h2 {
   color: var(--black);
   font-weight: 600;
   font-family: 'Poppins', sans-serif;
   font-size: 1.8rem;
   line-height: 2.7rem;
   margin-bottom: 1.3rem;
}

.no-questions p {
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 1.9rem;
   color: var(--gray-dark);
   text-align: center;
}  